@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
    margin: unset;
    overflow: hidden;
}

.zoom-on-hover {
    transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
}

.zoom-on-hover:hover {
    transform: scale(1.05); /* Scales the image to 110% of its original size */
}

/*.carousel-slide {*/
/*    transition: transform 0.5s ease-in-out;*/
/*}*/
